* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  /* //copiar  essas configuraçoes iniciais */
}
body {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em;
}

#calc {
  width: 400px;
  padding: 0.5em;
  background-color: #e6e0e0;
  color: black;
  display: flex;
  flex-direction: column;
}
#calc h3 {
  font-size: 0.8em;
  font-weight: 300;
  color: #666;
}

#operations {
  text-align: right;
}
#previous-operation {
  color: #777;
  padding: 0.2em;
  overflow-wrap: break-word; /*Quando se tem muitos numeros tais numeros vao quebrar a linha e não sair pra fora da área da calculadora*/
  min-height: 1.6em; /*Ja preve uma altura minima para que quando ouver quebra de linha a ela nao "pisque"*/
}
#current-operation {
  min-height: 1.6em;
  font-size: 3em;
  font-weight: 100;
  padding: 0.2em;
  overflow-wrap: break-word;
}

#buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3px;
}
#buttons-container button {
  border: 1px solid transparent;
  border-radius: 0;
  height: 4em;
  font-size: 1.2em;
  background-color: #dbdbdb;
  cursor: pointer;
}
#buttons-container .number {
  background-color: #f3f3f3;
}

#buttons-container button:hover {
  background-color: #bababa;
  border-image: linear-gradient(to right, #999, #bababa) 1;
}

#buttons-container #equal-btn {
  grid-column: span 2; /*O span faz com que ocupe 2 colunas na mesma linha, sem o span ocuparia duas colunas para baixo*/
  background-color: #75a5cb;
}
#buttons-container #equal-btn:hover {
  background-color: #3a91d8;
}
